.header {
  text-align: center;
  border-bottom: black;
  border-bottom-style: inset;
  padding: 10px;
}
.logo {
  max-height: 50px;
  display: inline-block;
}
.mainH1 {
  text-decoration-line: underline;
  padding-left: 0px;
}
.button {
  margin-bottom: 15px;
}
button {
  background-color: black;
  color: white;
}
.imgBox {
  background-color: grey;
  color: grey;
}
main {
  display: table-caption;
}
.contactTitles {
  text-align: left;
  margin: 0px;
}
.contactInfo {
  background-color: grey;
  text-align: -webkit-center;
  padding-bottom: 30px;
}
.contactForm {
  text-align: left;
}
.inputField {
  width: 300px;
}
ul {
  padding-left: 0px;
}
.list {
  padding-left: 15px;
}